html {
  background-color: black;
}

h1 {
  font-size: 32px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  text-align: center;
  color: orangered;
}

h2 {
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  color: orange;
}

b {
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  color: orange;
}

a {
  color: white;
  text-decoration: none;

}